<div class="page-header">
	<h1>Add / Edit contacts list</h1>
</div>

<ul class="nav navbar-nav">
	<li><a href="#/list">Contacts list</a></li>
	<li><a href="#/form">Add/Edit contacts list</a></li>
</ul>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Number</th>
			<th colspan="2">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input class="form-control" ng-model="contact.name"></td>
			<td><input class="form-control" ng-model="contact.email"></td>
			<td><input class="form-control" ng-model="contact.number"></td>
			<td><button class="btn btn-success" ng-click="addContact()">Add Contact</button></td>
			<td>
				<button class="btn btn-info" ng-click="updateContact()">Update</button>
			</td>
		</tr>
	</tbody>
</table>