<div class="page-header">
	<h1 class="text-center">Add / Edit contacts list</h1>
</div>
<div class="jumbotron text-center">
	<div class="btn-group" role="group" ng-show="!errMsg"><a class="btn btn-lg btn-info" href="#/list">Go to Contacts list</a></div>
	<div class="row show-hide-message" ng-show="errMsg">
		<div class="alert alert-danger">{{ errMsg }}</div>
	</div>
</div>
<table class="table">
	<thead>
		<tr class="success">
			<th>№</th>
			<th>Name</th>
			<th>Email</th>
			<th>Number</th>
			<th colspan="2">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="4"></td>
			<td class="text-center"><button class="btn btn-info show_update" onclick="Updated(this);" ng-click="updateThisContact(contact._id);">Update</button></td>
		</tr>
		<tr>
			<td></td>
			<td><input class="form-control" ng-model="contact.name"></td>
			<td><input class="form-control" ng-model="contact.email"></td>
			<td><input class="form-control" ng-model="contact.number"></td>
			<td class="text-center"><button class="btn btn-success" ng-click="addContact();">Add Contact</button></td>
		</tr>
		<tr ng-repeat="(key, contact) in newlistdb">
			<td>{{key + 1}}</td>
			<td>{{contact.name}}</td>
			<td>{{contact.email}}</td>
			<td>{{contact.number}}</td>
			<td class="text-center"><button class="btn btn-warning" onclick="Editing(this);" ng-click="editContact(contact._id);">Edit</button></td>
		</tr>
		<tr class="text-center">
			<td colspan="5"><button class="btn btn-primary btn-block" onclick="GetAll(this);" ng-click="getAll();">Get Contacts List</button></td>
		</tr>
	</tbody>
</table>