main 					{
	padding-top: 30px;	
}

/* HEADER 
===================== */
header .navbar 		{ 
	border-radius:0;
}

.jumbotron{ min-height: 180px; }

/* NGANIMATE
====================== */
.show-hide-message{
	max-width: 600px;
	margin: 0 auto;
}

/* show and hide */
.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
	animation:zoomIn 0.3s both ease;
}

/* ANIMATIONS
====================== */
.spinner {
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
	animation:spin 1s infinite;
}

@keyframes spin {
	from 	{ transform:rotate(0deg); }
	to 	{ transform:rotate(360deg); }
}

@-webkit-keyframes spin {
	from 	{ -webkit-transform:rotate(0deg); }
	to 	{ -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
	from 	{ -moz-transform:rotate(0deg); }	
	to 	{ -moz-transform:rotate(360deg); }
}


.hidden{display: none;}
th{ text-align: center; }
td button{ min-width: 110px; margin: 0 auto;}

tr .show_update{ visibility: hidden; }
tbody.checkedRow .show_update{ visibility: visible; }

form{width: 500px; margin: 0 auto;}
h2.custom_msg{max-width: 400px; margin: 20px auto;}

/*.form-control{
	border: 1px solid transparent;
	box-shadow: none;
}
.form-control:focus{
	border: 1px solid #ccc;
}*/